<div class="container">

  <button mat-button [matMenuTriggerFor]="menu" class="menu">
    <h2 class="title">Welcome To The Handwritting Project</h2>
  </button>
  <mat-menu #menu="matMenu">
    <a class="menu-a" href="https://handwriting.io/" target="blank">
      <button mat-menu-item>About</button>
    </a>
    <a class="menu-a" href="https://material.angular.io/" target="blank">
      <button mat-menu-item>Angular Material</button>
    </a>
  </mat-menu>
  <br>

  <mat-form-field class="block center dist">
    <mat-select placeholder="Choose Font" [(ngModel)]="selectedFont" (change)="changeFont()">
      <mat-option value="Lucida Console" selected="selected">Lucida Console

      </mat-option>
      <mat-option value="Arial Black">Arial Black
      </mat-option>
      <mat-option value="Roboto">Roboto
      </mat-option>
      <mat-option value="Comic Sans MS">Comic Sans MS
      </mat-option>
      <mat-option value="Impact">Impact
      </mat-option>


    </mat-select>
  </mat-form-field>

  <mat-form-field class="block center">
    <mat-select placeholder="Choose Color" [(ngModel)]="selectedColor" [(ngModel)]="params.handwriting_color" (change)="changeColor()">
      <mat-option value="#FF0000" selected="selected">Red

      </mat-option>
      <mat-option value="#8c30ec">Blue
      </mat-option>
      <mat-option value="#ffff00">Yellow
      </mat-option>

    </mat-select>
  </mat-form-field>

  <mat-form-field class="block center">
    <mat-select placeholder="Choose Size" [(ngModel)]="selectedSize" [(ngModel)]="params.handwriting_size" (change)="changeSize()">
      <mat-option value="14px" selected="selected">Small

      </mat-option>
      <mat-option value="30px">Medium
      </mat-option>
      <mat-option value="50px">Big
      </mat-option>

      <mat-option value="80px">Humungus
      </mat-option>


    </mat-select>
  </mat-form-field>


  <form class="dist" novalidate #f="ngForm" (submit)="onSubmit(f);">
    <mat-form-field style="width:100%;">
      <textarea class="text-input" matInput placeholder="Text" id="output-text" name="text" [(ngModel)]="params.text" #userName="ngModel"
        placeholder="Type anything you like and hit submit!" required></textarea>

    </mat-form-field>
    <div [innerHtml]="htmlText" class="alert" [hidden]="hide"></div>
    <button type="submit" value="Submit" class="block" (click)="onSubmit(f)" mat-raised-button color="primary">Submit</button>

  </form>
  <br>
  <br>
  <mat-card class="card" style="width:50%;margin: 0 auto;">
    <img *ngIf="png" [src]="png" class="img-responsive" />


  </mat-card>


</div>

<!---FOOTER-->
<footer>
  <div class="footer">
    <div class="icons">
      <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
      <i class="fa fa-youtube fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</footer>
